@use "src/utils/breakpoints" as *;
@use "src/utils/design-tokens/spacing" as space;

.introduction {
  &-primary {
  }

  &-secondary {
    margin-top: -8rem;

    img {
      display: block;
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;

      @include isDesktop {
        max-width: 30rem;
      }
    }
  }
}
