@use "src/utils/breakpoints" as *;
@use "src/utils/design-tokens/spacing" as space;

.introduction {
  position: relative;
  margin-top: -6rem;
  z-index: 2;

  &-primary {
    flex: 2;
    padding-right: space.$m;
  }

  &-secondary {
    flex: 1;
    padding-left: space.$m;

    img {
      display: block;
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;

      @include isDesktop {
        max-width: 30rem;
      }
    }
  }
}
