@use "src/utils/design-tokens/theme/light" as color;
@use "src/utils/design-tokens/spacing" as space;
@use "src/utils/design-tokens/transitions" as transition;

button {
  background-color: transparent;
  border: 1px solid color.$border-primary;
  border-radius: space.$xxs;
  cursor: pointer;
  padding: space.$s space.$xxl;
  transition: all transition.$speed-m ease;
  margin-right: space.$s;
  font-weight: bold;

  &:last-child {
    margin-right: unset;
  }

  &:focus-visible {
    outline: unset;
  }

  &:hover,
  &:focus {
    color: color.$text-inverse;
    background-color: color.$background-inverse;
  }

  &.secondary {
    color: color.$text-primary;
    border-color: color.$border-accent;
    background-color: color.$background-accent;

    &:hover,
    &:focus {
      color: color.$text-inverse;
      background-color: color.$background-inverse;
    }
  }

  &.inverse {
    color: color.$text-inverse;
    border-color: color.$border-inverse;

    &:hover,
    &:focus {
      color: color.$text-primary;
      background-color: color.$background-primary;
    }
  }

  &.secondary.inverse {
    color: color.$text-primary;
    border-color: color.$border-accent;
    background-color: color.$background-accent;

    &:hover,
    &:focus {
      color: color.$text-primary;
      background-color: color.$background-primary;
    }
  }

  &:disabled {
    background-color: color.$background-disabled;
    border-color: color.$border-disabled;
    color: color.$text-primary;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      background-color: color.$background-disabled;
      box-shadow: unset;
    }

    &:active {
      background-color: color.$background-disabled;
    }
  }
}
