.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}