@use "src/utils/sizing" as size;
@use "src/utils/breakpoints" as breakpoint;

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: size.$l;

    &__introduction {
        margin-top: size.$xxxl;
        padding-top: size.$xxxl;
    }
}