@use "src/utils/timing" as timing;
@use "src/utils/sizing" as size;

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: size.$l;
    justify-content: center;
    align-items: center;

    &__logo {

    }

    &__theme {
        align-items: center;
        margin-top: 0rem;
        transition: margin-top timing.$speed-m linear;

        &.toggling-theme {
            margin-top: -10rem;
        }

        .icon {
            margin: 0 auto;

            .sun {
                transform: rotate(20deg);
            }
        }
    }

    &__ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: end;
    }
}