$background-primary: #F6F8FA;
$background-secondary: #FFFFFF;
$background-accent: #66958A;
$background-inverse: #202124;
$background-disabled: #CCCCCC;
$border-primary: #202124;
$border-accent: #66958A;
$border-inverse: #FFFFFF;
$border-disabled: #CCCCCC;
$text-primary: #413F66;
$link-hover: #202124;
$text-inverse: #FFFFFF;
$text-accent: #66958A;