@use "src/utils/sizing" as size;

.App {
  background-color: var(--background-primary);
  height: 100vh;

  &__container {
    margin: size.$n auto;
    padding: size.$l size.$n;
    max-width: 80rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: size.$l;

  &__item {
    padding: size.$s;
    background-color: black;
    color: white;
  }
}