@use "src/utils/design-tokens/spacing" as space;

.App {
  margin: space.$l;
  max-width: 1280px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: space.$l;

  &__item {
    padding: space.$s;
    background-color: black;
    color: white;
  }
}