@use "src/utils/breakpoints" as *;
@use "src/utils/design-tokens/spacing" as space;
@use "src/utils/design-tokens/transitions" as transition;
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
@import "src/utils/design-tokens/theme/light";

body {
  background-color: $background-primary;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// FONT + TEXT STYLES
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul,
ol,
li {
  word-break: break-word;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  margin-bottom: space.$s;

  @include isDesktop {
    margin-bottom: space.$m;
  }
}

h1,
.h1 {
  font-size: 3rem;
  margin-bottom: space.$xxl;

  @include isDesktop {
    font-size: 3.5rem;
    margin-bottom: space.$xxxl;
  }
}

h2,
.h2 {
  text-transform: uppercase;
  font-size: space.$m;
}

h3,
.h3 {
  font-size: 2.5rem;
  margin-bottom: space.$l;

  @include isDesktop {
    font-size: 3rem;
    margin-bottom: space.$xl;
  }
}

h4,
.h4 {
  font-size: space.$xxl;

  @include isDesktop {
    font-size: space.$xxxl;
  }
}

h5,
.h5 {
  font-size: space.$xl;

  @include isDesktop {
    font-size: space.$xxl;
  }
}

h6,
.h6 {
  font-size: space.$l;

  @include isDesktop {
    font-size: space.$xl;
  }
}

p,
ul,
ol,
li {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: lighter;
  line-height: 1.4;

  font-size: space.$m;
  margin-bottom: space.$xs;

  &:last-child {
    margin-bottom: unset;
  }
}

ul {
  list-style-type: square;
}

a {
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: $text-primary;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $border-primary;
    transform-origin: bottom right;
    transition: transform transition.$speed-m ease-out;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }

  &:visited {
    color: $text-accent;

    &::after {
      background-color: $border-accent;
    }
  }
}