@use "src/utils/sizing" as size;
@use "src/utils/transitions" as transition;
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// FONT + TEXT STYLES
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  word-break: break-word;
}

p,
span,
ul,
ol,
li {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: lighter;
  word-break: break-word;
}

ul {
  list-style-type: square;
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button,
.button {
  background-color: var(--background-accent);
  font-weight: bold;
  border: size.$xxxs solid var(--border-accent);
  border-radius: size.$l;
  cursor: pointer;
  color: var(--text-button);
  padding: size.$s size.$xxl;
  transition: all transition.$speed-m transition.$ease-in-out-circ;

  &:focus-visible {
    outline: unset;
  }

  &:hover {
    background-color: var(--background-accent-darken);
    color: var(--text-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  &:focus {
    border-color: var(--border-primary);
  }

  &:active {
    background-color: var(--background-accent);
    box-shadow: unset;
  }

  &.secondary {
    background-color: var(--background-inverse);
    border-color: var(--border-primary);

    &:hover {
      background-color: var(--background-accent-lighten);
    }

    &:focus {
      border-color: var(--border-accent);
    }

    &:active {
      background-color: var(--background-inverse);
    }
  }

  &:disabled {
    background-color: var(--background-disabled);
    border-color: var(--border-disabled);
    color: var(--text-primary);
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      background-color: var(--background-disabled);
      box-shadow: unset;
    }

    &:active {
      background-color: var(--background-disabled);
    }
  }

  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: size.$xxs size.$xs;
    min-width: size.$l;

    svg {
      height: size.$l;
    }
  }
}

img {
  display: block;
}
